body {
    font-family: sans-serif;
    background-color: white;
    line-height: 1.2em;
    color: black;
    margin: 2em 8% 2em 10%;
    /* T R B L */
}

h1,
h2,
h3 {
    margin: 1em 0 0.5em 0;
}

h1 {
    font-size: 150%
}

h2 {
    font-size: 120%
}

h3 {
    font-size: 100%;
    font-style: italic;
}

p {
    margin: 0 0 1em 0;
    line-height: 1.4em;
}

a {
    font-weight: bold;
    color: #255997;
    text-decoration: none;
}

li {
    padding: 0.6em;
}